<div class="container flex items-center justify-start flex-1 m-auto">
  <form [formGroup]="form"
        (ngSubmit)="login()"
        class="flex flex-col gap-6 p-10 m-auto bg-white border rounded shadow">

    <div class="flex flex-row items-center justify-start gap-4">
      <i class="text-2xl fa fa-lock text-ngrx-600"></i>
      <div class="flex flex-col">
        <span class="text-2xl font-semibold text-blue-800">Sign-in</span>
        <span class="font-light text-gray-500">You could sing-in with your username!</span>
      </div>
    </div>

    <div class="flex flex-col flex-1 group">
      <div class="flex flex-row items-center gap-1 p-0.5">
        <i class="text-sm text-gray-500 fa fa-user group-focus-within:text-blue-700"></i>
        <label for="username"
               class="text-sm text-gray-900 group-focus-within:text-blue-700">Username</label>
      </div>
      <input id="username"
             formControlName="username"
             class="w-full p-2 border rounded active:outline-blue-700 focus:outline-blue-700">
    </div>

    <div class="flex flex-col items-stretch flex-1 group">
      <div class="flex flex-row items-center gap-1 p-0.5">
        <i class="text-sm text-gray-500 fa fa-key group-focus-within:text-blue-700"></i>
        <label for="password"
               class="text-sm text-gray-900 group-focus-within:text-blue-700">Password</label>
      </div>
      <div class="relative ">
        <input [type]="showPassword ? 'text' : 'password'"
               id="password"
               formControlName="password"
               class="w-full p-2 pr-8 border rounded active:outline-blue-700 focus:outline-blue-700">
        <button class="absolute right-0 w-8 h-full mx-1"
                type="button"
                (click)="showPassword = !showPassword">
          <i class="text-gray-600 fa"
             [ngClass]="{'fa-eye-slash': !showPassword, 'fa-eye': showPassword}"></i>
        </button>
      </div>
    </div>

    <button type="submit"
            *ngrxLet="sessionState.loading$; let loading"
            [disabled]="loading"
            class="py-2 mt-4 text-lg text-white border rounded bg-ngrx-700 hover:bg-ngrx-600 disabled:bg-gray-300">
      <i class="text-gray-500 fa fa-spinner fa-spin"
         *ngIf="loading; else notLoading"></i>
      <ng-template #notLoading>
        Sign-in
      </ng-template>
    </button>

  </form>
</div>
