<header class="sticky top-0 bg-white">
  <div class="border-b border-ngrx-100">
    <div class="container flex flex-row items-center justify-between m-auto">
      <a [routerLink]="'/'"
         class="flex flex-row items-center">
        <img class="p-4"
             src="assets/ngrx.svg"
             width="96px">
        <h1 class="text-2xl font-semibold text-center text-ngrx-600 first-letter:text-3xl first-letter:font-bold first-letter:text-ngrx-700">The Power of NgRx</h1>
      </a>
      <div class="flex flex-row items-center gap-4">
        <div *isLoggedIn="let isLoggedIn; else loggedInTemplate">
          <ng-container *ngrxLet="sessionService.user$; let user">
            <div class="flex flex-row items-center gap-4">
              <img [src]="user?.image"
                   class="w-10 rounded-full outline outline-ngrx-600">
              <span> {{user?.firstName}} {{user?.lastName}}</span>
            </div>
          </ng-container>
        </div>
        <ng-template #loggedInTemplate>
          <a [routerLink]="'/auth/sign-in'"
             [routerLinkActive]="['active', 'outline', 'outline-ngrx-500']"
             class="px-4 py-3 rounded text-ngrx-800 group hover:text-ngrx-300"><i class="mr-2 fa fa-user text-ngrx-300 group-hover:text-ngrx-700"></i>Sign-in</a>
        </ng-template>
        <button class="px-4 py-3 rounded text-ngrx-800 group hover:text-ngrx-300"><i class="mr-2 fa fa-heart text-ngrx-300 group-hover:text-ngrx-700"></i>Favorites</button>
        <card-button></card-button>
      </div>
    </div>
  </div>
</header>
<main class="flex flex-col items-stretch justify-start flex-1 bg-gray-50">
  <div class="container flex flex-row flex-1 m-auto">
    <router-outlet></router-outlet>
  </div>
</main>
<footer class="p-4 border-t bg-ngrx-700 border-ngrx-100">
  <div class="container flex flex-row items-center justify-between m-auto">
    <div class="flex flex-col items-center">
      <img src="assets/ngturkey.png"
           class="w-40">
    </div>

    <div class="flex flex-col gap-2">
      <a class="flex flex-row items-center gap-1"
         href="https://linkedin.com/in/hizliemre"
         target="_blank"> <img src="assets/linkedin.png"
             class="w-8"><span class="text-white">linkedin.com/in/hizliemre</span></a>
      <a class="flex flex-row items-center gap-1"
         href="https://github.com/hizliemre"
         target="_blank"> <img src="assets/github.png"
             class="w-8"><span class="text-white">github.com/hizliemre</span></a>
      <a class="flex flex-row items-center gap-1"
         href="https://twitter.com/hizliemre26"
         target="_blank"> <img src="assets/twitter.png"
             class="w-8"><span class="text-white">twitter.com/hizliemre26</span></a>
      <a class="flex flex-row items-center gap-1"
         href="https://medium.com/@hizliemre"
         target="_blank"> <img src="assets/medium.jpeg"
             class="w-8"><span class="text-white">medium.com/@hizliemre</span></a>
      <a class="flex flex-row items-center gap-1"
         href="https://instagram.com/ehizli"
         target="_blank"> <img src="assets/instagram.png"
             class="w-8"><span class="text-white">instagram.com/ehizli</span></a>
    </div>
  </div>
</footer>
