<div class="relative cursor-pointer group">
  <button class="px-4 py-3 rounded text-ngrx-800 group-hover:text-ngrx-300">
    <i class="mr-2 fa fa-cart-shopping text-ngrx-300 group-hover:text-ngrx-700"></i>Cart</button>
  <div class="absolute flex flex-col w-full text-center -bottom-2">
    <span class="text-lg group-hover:text-ngrx-700">1000 $</span>
  </div>
  <div class="absolute w-5 h-5 leading-5 text-center text-white bg-red-500 rounded-full -top-1 left-4 group-hover:bg-ngrx-700">3</div>
</div>
